@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
    font-family: 'Host Grotesk', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: black;
    background-color: #F2F0EF;
}
